html, body {
  margin: 0;
  padding: 0;
  align-items: center;
  
  gap: 20px;
}
canvas {
  display: block;
}
body{
  background-color: var(--cor-primaria);
  text-align: center;


}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root{
  /* Variaveis de Cor */
  --cor-primaria : #37306B;
  --cor-secundaria : #312A5E;
  --cor-tercearia : #D27685;
  --cor-quartearia : #ffffff;

  /* Variaveis de Fonte */
  --font-secundaria : 'Roboto Mono', monospace;
}

body{
  background-color: var(--cor-primaria);
  color: var(--cor-tercearia);

  box-sizing: border-box;
 
    background-color: #312A5E;
    display: flex;
    flex-direction: column;
  
}
.titulo-destaque{
  color: var(--cor-quartearia);
}

/* --------------------------- */
.apresentacao_conteudo_titulo{
  font-family: var(--font-secundaria);
  font-size: 2.25rem;
}

.apresentacao_links_navegacao{
  color: var(--cor-quartearia);
  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  font-weight: 300;
  
  border: dashed var(--cor-tercearia);
  border-radius: 16px;
  width: 15%;

  text-decoration: none;
  padding: 18px 0;
}

.titulo-destaque{
  color: var(--cor-quartearia);
}

/* --------------------------- */
.apresentacao_links_navegacao:hover{
  background-color: var(--cor-primaria); 
}
/* ===================================== */


.rodade{
  background-color: var(--cor-secundaria);
  color: var(--cor-tercearia);

  padding: 1.5%;
  text-align: center;
  
  font-family: var(--font-secundaria);
  font-size: 0.8rem;
}